@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Hides the scrollbar but allows scrolling */
html,
body {
  overflow: scroll; /* Allows scrolling */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Hides the scrollbar for Webkit-based browsers (Chrome, Safari, Edge) */
}
